@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  padding: 0;
  margin: 0;
}

@media(max-width: 1020px) {
  html {
    font-size: 93.75%;
  }
}

@media(max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

.App {
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
}

nav {
  align-self: center;

  display: flex;
  padding: 10px;
}

nav div{
  margin: 0 1rem;
}

.about-pokedex {
  max-width: 800px;

  align-self: center;
  border: 1px solid black;
  border-radius: 5px;
  margin: 3rem auto;
  padding: 25px;
  text-align: justify;
}

.about-pokedex img {
  width: 10rem;
  float: left;
  margin: 1rem;
}
